<!DOCTYPE html>
<html lang="en">

<body>
    <%- include('../partials/head.ejs') %>

        <%- include('../partials/header.ejs') %>

            <form method="post" action="/products/create" enctype="multipart/form-data">
                <label for="name">Nombre</label>
                <input type="text" name="name" value="<%= locals.oldBody && oldBody.name ? oldBody.name:'' %>">
                    <% if (locals.error && error.name) { %>
                     <p><%= error.name.msg %></p>
                    <% } %>
                <label for="year">Precio</label>
                <input type="number" name="price" value="<%= locals.oldBody && oldBody.price ? oldBody.price:'' %>">
                <% if (locals.error && error.price) { %>
                    <p><%= error.price.msg %></p>
                   <% } %>
                <h3>
                    <label class="form-label" for="name">Seleccioná una imagen </label>
                    <input type="file" name="image" id="image" multiple>
                    <% if (locals.error && error.image) { %>
                        <p><%= error.image.msg %></p>
                       <% } %>
    
                </h3>

                <!-- <h3>
        <label class="form-label" for="name">Descripción:</label>
        <input class="form-input" type="text" id="name2" name="name2"><br><br>
        </h3> -->

                <!-- <h3>
        <label class="form-label" for="categoria">Categoría:</label>
                <select name="Categoría">
                    <option value="1"></option>
                    <option value="2">Fibrofacil</option>
                    <option value="3">Pintura</option>
                    <option value="4">Otro</option>
        </h3> -->

                <button type="submit">Crear producto</button>
                <br>

            </form>
</body>
<!-- <%- include('../partials/footer.ejs') %>  -->

</html>