<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/header.ejs') %> 

         <main>
            
        <h1><%= product.name %></h1>
        <!-- metodo aplicado para editar ID -->
        <form method="post" action="/products/edit/<%= product.id %>?_method=PUT">
        <label class="form-label" for="name" >Nombre del producto</label>
                <input class="form-input" value="<%= product.name %>" type="text" id="name" name="name" <%= product.name %>>

                <label class="form-label" for="name">Descripción</label>
                <input class="form-input" value="<%= product.description %>" type="text" id="name2" name="description">

                <label class="form-label" for="name">Seleccionar una imagen para el producto</label>
                <input class="form-input" type="file" id="file" name="image" accept=".jpg">

                <label class="form-label" for="number">Precio</label>
                <input class="form-input" value="<%= product.price %>" type="number" id="price" name="price">

                <div class="input-box">
                    <label  class="form-label" for="year">Categoría</label>
                    <select name="product_categories_id" id="">
                        <option value="" disabled selected >Selecionar:</option>
                        <% categorie.forEach(categorie => { %>
                         <option value="<%= categorie.id %>"><%= categorie.category %></option>
                        <% }) %>
                    </select>
                    </div>
                    <a href="/"><input class="boton-register" type="submit" value="Guardar cambios"></a>

                    <form>

        </main>

</body>
<%- include('../partials/footer.ejs') %> 
</html>