<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
	<%- include('../partials/header.ejs') %>
		<!-- Estos son los nombres que vienen del JSON -->

		<!-- Este ID viene del  JSON -->
		<main class="container-detalles" id="detalles">
			<article class="detalle-grid">
			<% if (producto && producto.image) { %>
				<img class="img-fluid" src="/images/products/<%= producto.image %>" alt="<%= producto.image %>">
			<% } %>
			<% if (!producto || !producto.image) { %>
				<img src="https://upload.wikimedia.org/wikipedia/commons/3/39/Peu404vitfr.jpg" alt="">
			<% } %>

				<div class="detalles-content">
					<% if (producto && producto.name) { %>
						<h3 class="nombre-producto">
						  <%= producto.name %>
						</h3>
					<% } %>
					<br>
					<br>
					<p class="price"><b>Precio: </b> $<%= producto.price %>
					</p>
					</p>
					<p class="description">
						<b>Descripcion: </b> <br>
						<span><%= producto.description %></span>
					</p>
					<div class="bottom">
						<div class="btn__group">
							<a>Añadir al carrito</a>
						</div>
						<div class="btn__group">
							<a href="/products/edit/<%= producto.id %>">Editar</a>
						</div>
						<div class="btn__group">
							<a href="/products/delete/<%= producto.id %>">Eliminar</a>
						</div>
					</div>
				</div>
			</article>
		</main>

		<%- include('../partials/footer.ejs') %>
			</body>

</html>