<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>

    <body>
        <%- include('./partials/header.ejs') %>
            <main>
                <section>
                    <h3 class="tittle-home">Nuevos Lanzamientos</h3>
                    <ul>
<div class="all-articles">
    <% productsList.forEach(products=> { %>
        <a href="/products/<%= products.id %>" class="caja-article">
            <img class="img-fluid" src="/images/products/<%= products.image %>">

            <div class="descripciones">
                <p>
                    <%= products.name %>
                </p>
                <p class="precio">
                    $<%= products.price %>
                </p>
            </div>
        </a>
    <% }) %>
    
</ul>
<h3 class="tittle-home">Ofertas</h3>
<div class="all-articles">
    <% productsList.forEach(products=> { %>
        <a href="/products/<%= products.id %>" class="caja-article">
            <img class="img-fluid" src="/images/products/<%= products.image %>">

            <div class="descripciones">
                <p>
                    <%= products.name %>
                </p>
                <p class="precio">
                    $<%= products.price %>
                </p>
            </div>
        </a>
    <% }) %> 
</div>
<h3 class="tittle-home">Lo más vendido</h3>
<div class="all-articles">
    <% productsList.forEach(products=> { %>
        <a href="/products/<%= products.id %>" class="caja-article">
            <img class="img-fluid" src="/images/products/<%= products.image %>">

            <div class="descripciones">
                <p>
                    <%= products.name %>
                </p>
                <p class="precio">
                    $<%= products.price %>
                </p>
            </div>
        </a>
    <% }) %> 
</div>
</main>
<%- include('./partials/footer.ejs') %>
    </body>

</html>