<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')%> 
<body>
  <%- include('../partials/header.ejs') %> 

<br>
<br>

<div class="container">
    <h1>MI PERFIL</h1>

        <div class="profile">

            <div class="profile-view">
                <img src="/images/users/<%= user.image %>" class="profile-img">
                <p>Nombre: <%= user.name %></p>
                <br>
                <p>Apellido: <%= user.lastname %></p>
                <br>
                <p>Email: <%= user.email %></p>
                <br>
                <button class="customize-btn">Editar datos</button>
                <br>
                <button class="logout-btn">Cerrar sesión</button>
          </div>

        </div>

</div>

<br>
<br>

<%- include('../partials/footer.ejs') %> 
  
</body>
</html>

