<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')%> 
<body>
  <%- include('../partials/header.ejs') %> 

<br>
<br>

<div class="container">
    <h1>MI PERFIL</h1>

        <div class="profile">

            <div class="profile-view">

                <img src="/images/users/<%= user.image %>" class="profile-img">
                <br>
                
                <form action="/uploadImage" method="post">
                    <i class="far fa-image"><input type="file"> </i>
                    <br>
                    <button type="button" class="editImg-btn">Cambiar foto</button>
                </form>

                <br>
                <br>

                <form action="">
                    <p>Nombre: <%= user.name %></p>
                    <br>
                    <p>Apellido: <%= user.lastname %></p>
                    <br>
                    <p>Email: <%= user.email %></p>
                    <br>
                </form>

                <div class="container-profile">
                    <form action="/logout" method="post">
                        <a href="/user/edit/<%= user.id %>"> 
                            <button class="customize-btn" type="submit">Editar datos</button>
                        </a>
                        <br>
                        <button class="logout-btn" type="submit">Cerrar sesión</button>
                    </form>
                </div>

          </div>

        </div>

</div>

<br>
<br>

<%- include('../partials/footer.ejs') %> 
  
</body>
</html>

