<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>

  <body>
    <div class="titulo-fufu">
      <i class="fa-solid fa-paintbrush"></i>
      <h1 class="logo"><a href="/">Artistica Fufu</a></h1>
    </div>
    <div class="container-register">
      <div class="title">Creá tu cuenta</div><br>
      <div class="content">
        <form action="#">

          <form method="POST" action="/user/register" enctype="multipart/form-data">
            <div class="input-box">
              <span class="details">Nombre completo:</b></span>
              <input type="text" name="fullName"
                class="details <%= locals.errors && errors.fullName ? 'is-invalid' : null %>"
                value="<%= locals.oldData ? oldData.fullName : null %>">
              <% if (locals.errors && errors.fullName) { %>
                <div class="text-danger">
                  <%= errors.fullName.msg %>
                </div>
                <% } %>

            </div>

            <div class="col-md-6 my-1">
              <div class="input-box">
                <span class="details">Correo electrónico:</b></span>
                <input type="text" name="email"
                  class="input-box <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                  value="<%= locals.oldData ? oldData.email : null %>">
                <% if (locals.errors && errors.email) { %>
                  <div class="text-danger">
                    <%= errors.email.msg %>
                  </div>
                  <% } %>
              </div>
            </div>

            <div class="input-box">
              <div class="details">
                <span class="details">Contraseña:</b></span>
                <input type="password" name="password"
                  class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>">
                <% if (locals.errors && errors.password) { %>
                  <div class="text-danger">
                    <%= errors.password.msg %>
                  </div>
                  <% } %>
              </div>
            </div>

            <div class="input-box">
              <div class="details">
                <span class="details">Check-Contraseña:</b></span>
                <input type="password" name="password">
          
             
            </div>


            <!-- 

          <div class="input-box">
            <span class="details">Numero de Telefono</span>
            <input type="text" placeholder="Ingrese numero" name="numeroTelefono">
          </div> -->
            <!-- <div class="input-box">
            <span class="details">Contraseña</span>
            <input type="password" placeholder="Ingrese contraseña" name="passwordRegistro">
          </div>
          <div class="input-box"> -->
            <!-- <span class="details">Confirme Contraseña</span>
            <input type="password" placeholder="Confirme contraseña">
          </div>
        </div>
        <div class="gender-details"> -->
            <span class="gender-title">Aceptar Términos y Condiciones</span>
            <div class="category">
              <label for="dot-1">
                <span class="dot one"></span>
                <span class="gender">Acepto</span>
              </label>
            </div>
            <div class="yatienecuenta">
              <h6>¿Ya tenés una cuenta?</h6>
              <a href="/login">Ingresá con tu cuenta</a>
            </div>
      </div>
      <div class="button">
        <input type="submit" value="Registrarse">
      </div>
      </form>
    </div>
    </div>
  </body>

</html>